.impressum{
    height: 400px;
    background-image: url("../img/assets/badger.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-wrapper{
    min-height: 600px;
    padding-top:20vh;
    background-image: url("../img/assets/Savin-NY-Website-Background-Web.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post{
    background: lightgray;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    font-family: 'Helvetic Neue', serif;
}

.post-content{
    background: white;
    border-radius: 5px;
}

.post-answer{
    background: white;
    margin-top: 5px;
    border-radius: 5px;
}

.navbar-placeholder{
    position: sticky;
    top: 0;
}