#answered{
    background: url(../img/assets/open-iconic-master/png/bell-2x.png) no-repeat;
    border: none;
}

.post{
    background-color: lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Helvetic Neue', serif;
}

.post-content{
    padding: 5px;
}