<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create a Question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainstyle.css}" href="../static/css/mainstyle.css">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/createStyle.css}" href="../static/css/createStyle.css">
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script th:src="@{/js/createScript.js}"></script>
  </head>
<body>

  <div class="navbar-placeholder" th:replace="navbar :: navbar"></div>
      
    <div class="parallax-wrapper">
        <div class="content">
            <form method="post" class="new-Answer" th:action="@{/createQuestion}">
            <h2> Ask your Question away: </h2> <br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Enter Title:</span>
                </div>
                <label for="inputTitle"></label>
                <input type="text" class="form-control" id="inputTitle" name="inputTitle" aria-label="title-input" aria-describedby="inputGroup-sizing-default" required="required"/>
            </div>
                    
            <div class="input-group">
                <div class="input-group-prepend">
                </div>
                <label for="inputDescription"></label>
                <textarea class="form-control" id="inputDescription" name="inputDescription" aria-label="description" placeholder="Enter Description here:" required="required"></textarea>
              </div>

                <br>
              <button type="submit" value="Create" class="btn btn-primary btn-dark">Ask Question</button>
            </form>
        </div>
        <br>
        <br>
    </div>
    <div class="impressum"></div>
    <div class="rest-body"></div>
</body>