<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forum TheBadgers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainstyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/postStyle.css}" href="../static/css/postStyle.css">
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script th:src="@{/js/mainscript.js}"></script>
</head>
<body>
<div class="navbar-placeholder" th:replace="navbar :: navbar-guest"></div>

<div class="parallax-wrapper" th:if="${not #lists.isEmpty(questions)}">
    <div class="post" th:each="question : ${questions}">
        <div class="post-Title">
            <h2 th:text="${question.title}">Title</h2>
        </div>
        <div class="post-Body">
            <p th:text="${question.content}" th:maxlength="24"> Description</p>
    </div>
        <div class="post-footer">
            <a aria-pressed="true" class="btn btn-secondary active btn-sm"
               role="button" th:href="@{'/post/' + ${question.id}}">Comment</a>
            <button type="button" class="btn btn-secondary btn-sm">Bookmark</button>
        </div>
</div>
<div class="impressum">
</div>



</div>

</body>
</html>