<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forum TheBadgers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainstyle.css}">
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/mainscript.js}"></script>
</head>
<body>
//TODO look into th:if to replace alternative index-guest files.
//<!--<div th:replace="${booleanValue} ? ~{fragments/something} : ~{}" /> ---->

<div class="navbar-placeholder" th:fragment="navbar-guest">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <img alt="badger" th:src="@{/img/assets/navbar-icon.png}" src="../static/img/assets/navbar-icon.png">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="nav-home-guest" href="#" th:href="@{/}">Badgers <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownguest" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Questions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownguest">
                        <a class="dropdown-item" href="#">Unsolved Questions</a>
                        <a class="dropdown-item" th:href="@{/getUnansweredQuestions}">Unanswered Questions</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="loginButton" href="#" data-toggle="modal"
                       data-target="#loginModal">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="signup" href="#" data-toggle="modal"
                       data-target="#registerModal">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="createTestData" th:href="@{/createTestData}">Create test Data</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLogin">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/login}" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username" aria-describedby="username"
                                   placeholder="Enter username" required="required">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Password" required="required">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Will not remember you</label>
                        </div>
                        <div class="modal-footer">
                            <div class="spinner-border spinner-border text-info" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
         aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" class="new-User" action="#" th:action="@{/registration}" role="form">
                        <div class="form-group">
                            <label for="inputUserNamereg">Username</label>
                            <input type="text" class="form-control" name="inputUserNamereg"   id="inputUserNamereg"
                                   aria-describedby="username" placeholder="Enter username" required="required">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPasswordreg">Password</label>
                            <input type="password" class="form-control" name="exampleInputPasswordreg" id="exampleInputPasswordreg"
                                   placeholder="Password" required="required">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPasswordreg2">Confirm Password</label>
                            <input type="password" class="form-control" name="exampleInputPasswordreg2"
                                   id="exampleInputPasswordreg2" placeholder="Password" required="required">
                        </div>
                        <div class="modal-footer">
                            <div class="spinner-border spinner-border text-info" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Register"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <img alt="badger" th:src="@{/img/assets/navbar-icon.png}" src="../static/img/assets/navbar-icon.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent-guest">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" id="nav-home" href="#" th:href="@{/}">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Questions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Unsolved Questions</a>
                    <a class="dropdown-item" href="#">Unanswered Questions</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">My Questions</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/createQuestion}" id="nav-question">Create Question</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>