<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="jquery-3.4.1.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainstyle.css}">
    <link rel="stylesheet" type="text/css" media="screen"
          th:href="@{/css/postStyle.css}">
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/postsScript.js}"></script>
</head>
<body>
<div class="navbar-placeholder" th:replace="navbar :: navbar-guest"></div>

<div class="parallax-wrapper">
    <div class="post">
        <h2 th:href="@{/post/{postId}(postId=${currentQuestion.get().id})}"
            th:text="${currentQuestion.get().title}">
            Header</h2>
        <div class="post-content">
            <p th:href="@{/post/{questionId}(questionId=${currentQuestion.get().id})}"
               th:text="${currentQuestion.get().content}">Input text or how i
            learned to love thymeleaf</p>
        </div>
        <button class="btn btn-secondary btn-sm"> Bookmark</button>
        <form method="post" class="new-Answer" th:action="@{'/createAnswer/' + ${currentQuestion.get().id}}">
            <label for="newAnswer"></label>
            <textarea class="form-control" required="required" name="newAnswer"
                      id="newAnswer" placeholder="Submit Answer"></textarea>
            <input class="btn btn-secondary btn-sm" type="submit" value="Answer"/>
        </form>
        <div class="post-answers">
            <div class="answers" th:each="answer : ${answers}" >
                <p th:text="${answer.content}" th:style="${answer.isAnswerToQuestion()} ? 'background-color : yellow' : 'background-color : lightgray'"></p>
                <form method="post" th:action="@{'/setAnswerAsAnswerForQuestion/' + ${answer.id} + '/' + ${currentQuestion.get().id}}">
                <button class="btn btn-secondary btn-sm" type="submit">Answered</button>
                </form>

            </div>
    </div>
</div>
</div>
</body>