<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" class="new-User" action="#" th:action="@{/registration}" th:object="${user}" role="form">
                <div class="form-group">
                    <label for="inputUserNamereg">Username</label>

                    <input type="text" class="form-control" name="inputUserNamereg" th:field="*{username}" id="inputUserNamereg"
                           aria-describedby="username" placeholder="Enter username" required="required">
                </div>
                <div class="form-group">
                    <label for="exampleInputPasswordreg">Password</label>

                    <input type="password" class="form-control" name="exampleInputPasswordreg" th:field="*{password}" id="exampleInputPasswordreg"
                           placeholder="Password" required="required">
                </div>
                <div class="modal-footer">
                    <div class="spinner-border spinner-border text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Register"/>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>